.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    max-width: 1450px;
    align-items: center;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    overflow-x: hidden;
    background: rgba(249, 249, 249, 0.94);
}

.collection-symbol {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collection-symbol img {
    padding-right: 11px;
}

.circle-collection {
    display: flex;
    flex-direction: row;
}

.circle-collection .collection-symbol.active {
    background: #002DFF;
    border-radius: 21px;
    padding: 8px 20px;
    float: left;
    color: white;
    position: relative;
    z-index: 2;
}

.circle-collection .collection-symbol.active img {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

.circle-collection .collection-symbol {
    color: black;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    padding-left: 11px;
}

.header img {
    margin: 0 auto;

}

.plus-add {
    display: flex;
    flex-direction: row;
    padding-left: 26px;
    align-items: center;
}

.plus-add .plus {
    width: 21px;
    height: 21px;
}

.plus-add .add {
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-left: 12px;
}

.left-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .miniLogo {
    width: 47px;
    height: 18px;
    margin-left: 430px;
}

.right-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
}

.loupe {
    width: 21px;
    height: 21px;
}

.search {
    padding-right: 25px;
    margin-top: 16px;
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.avatar {
    width: 40px;
    height: 40px;
    padding-left: 32px;
}

/*.films-clicker{*/
/*    margin: 0 auto;*/
/*    max-width: 460px;*/
/*    width: 100%;*/
/*}*/

/*.films-clicker h1{*/
/*    font-family: SF Pro Display, sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: bold;*/
/*    font-size: 36px;*/
/*    line-height: 41px;*/
/*    text-align: center;*/
/*}*/

/*.buttons{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    background: rgba(118, 118, 128, 0.12);*/
/*    border-radius: 9px;*/
/*    max-width: 343px;*/
/*    width: 100%;*/
/*}*/

/*.buttons .will-watch{*/
/*    background: #FFFFFF;*/
/*    border: 0.5px solid rgba(0, 0, 0, 0.04);*/
/*    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 1px rgba(0, 0, 0, 0.04);*/
/*    border-radius: 7px;*/
/*}*/

/*.filmsCollection{*/
/*    max-width: 460px;*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/