h1 {
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
}

.collection h1 {
    margin-top: 60px;
}

.switch_menu {
    display: flex;
    flex-direction: row;
}

.switch_menu img {
    margin-top: 5px;
    cursor: pointer;
}