.questionSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 52px;
    text-align: center;
}

.questionSlider p {
    font-family: SF Pro Text, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: rgba(60, 60, 67, 0.6);
    margin-right: 8px;
}

.questionSlider .a {
    text-decoration: none;
    color: #002DFF;
    font-weight: bold;
}